# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
env/
venv/
ENV/

# pytest
.pytest_cache/

# VS Code
.vscode/

# Distribution / packaging
build/
dist/
*.egg-info/
